* {
    margin:0;
    padding:0;
    font-family:'Quicksand';
    box-sizing: border-box;
    background: rgb(0,0,0);
    
    
}

/*//NAV//*/
#navbar{
  display: flex;
  justify-content: flex-start;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background:#000;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
 

}

.nav-list{
  display:flex;
  margin-right:2em;
  padding:0;
  z-index:1;
  
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  color:white;
}
.nav-list ul{
  list-style:none;
  padding:0;
  font-size:1.8rem;
  font-weight:400;
  line-height:.05;
  text-decoration:none;
  display:list-item;
  
}



/*//INTRO//*/
#intro{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:18em;
    
}

.intro-list{
    font-size:42px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    color:#fff
}

span{
    color:#BD10E0
}
.arrow {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    text-align: center;
    height: 2vw;
    width: 2vw;
    border-style:solid;
    border-color: #BD10E0;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);

  }

  .arrowSliding {
    
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  @-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}  

  
/*//About Section//*/
#about{
    display:block;
    justify-content: center;
    text-align: center;
    margin-top: 13rem;
 
}

.title{
    color:#fff;
    font-size:42px;
}

.title:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #BD10E0;
    left: 0;
    top: 50%;
    position: absolute;
  }

  .title:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #BD10E0;
    right: 0;
    top: 50%;
    position: absolute;
  }

.about-me{
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    max-width: 620px;
    font-weight:bold;
    font-size:24px;
    color:#fff
}

.profile-pic{
    margin-left:500px;
    float:left;
    border-radius: 50%;
    height:380px;
    width:auto;
    border:4px solid #BD10E0
}



.languages{
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:20px;
}





  /*//MEDIA QUERIES//*/
  @media only screen and (max-width: 600px) {
    
    
  }