* {
    margin:0;
    padding:0;
    font-family:'Quicksand';
    box-sizing: border-box;
    background: rgb(0,0,0);
    
    
}

/*//INTRO//*/
#intro{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:18em;
    
}

.intro-list{
    font-size:42px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    color:#fff
}

span{
    color:#BD10E0
}
.arrow {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    text-align: center;
    height: 2vw;
    width: 2vw;
    border-style:solid;
    border-color: #BD10E0;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);

  }

  .arrowSliding {
    
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  @-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}  

  
/*//About Section//*/
#about{
    display:block;
    justify-content: center;
    text-align: center;
    margin-top: 13rem;
 
}

.title{
    color:#fff;
    font-size:42px;
}

.h1:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #BD10E0;
    left: 0;
    top: 50%;
    position: absolute;
  }

  .h1:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #BD10E0;
    right: 0;
    top: 50%;
    position: absolute;
  }

.about-me{
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    max-width: 420px;
    font-size:24px;
    color:#fff
}

.profile-pic{
    display:inline-block;
    border-radius: 50%;
    height:280px;
    width:auto;
    border:4px solid #BD10E0
}





  /*//MEDIA QUERIES//*/
  @media only screen and (max-width: 600px) {
    
    
  }