* {
    box-sizing: border-box;
}





/*//BUBBLE DESIGN//*/
.custom-shape-divider-bottom-1674055709 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674055709 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 164px;
}

.custom-shape-divider-bottom-1674055709 .shape-fill {
    fill: #BD10E0;
}

/*//INTRO//*/
#intro{
    display:flex;
    justify-content: center;
    text-align: center;
}

.intro-list{
    font-size:36px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
}