*{
    margin:0;
    padding:0;
    font-family:'Quicksand';
    box-sizing: border-box;
    background: rgb(0,0,0);
    scroll-behavior: smooth;
    
    
}

/*//NAV//*/
#navbar{
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background:#000;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
 

}

.nav-list{
  display:flex;
  margin-right:2em;
  padding:0;
  z-index:1;
  
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  color:white;
}
.nav-list ul{
  list-style:none;
  padding:0;
  font-size:1.8rem;
  font-weight:400;
  line-height:.05;
  text-decoration:none;
  display:list-item;
  
}

.nav-list a:hover{
  color:#BD10E0;
}



/*//INTRO//*/
#intro{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:10em;
    
}

.intro-list{
    font-size:42px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    color:#fff
}

span{
    color:#BD10E0
}

  
/*//About Section//*/
#about{
    display:block;
    justify-content: center;
    text-align: center;
 
}

.title{
    color:#fff;
    font-size:42px;
}

.aboutHeadline:before {
    content: "";
    display: block;
    width: 1200px;
    height: 5px;
    background: #BD10E0;
    left: 0;
    top: 104%;
   
  }

  .aboutHeadline:after {
    content: "";
    display: block;
    justify-content: center ;
    width: 1200px;
    height: 5px;
    background: #BD10E0;
    
    top: 104%;
    
  }

.about-me{
  
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    max-width: 620px;
    font-weight:bold;
    font-size:24px;
    color:#fff
}

.profile-pic{
  animation-name:slidein;
  animation-duration:2s;
    margin-left:500px;
    margin-bottom: 20px;;
    float:left;
    border-radius: 50%;
    height:320px;
    width:auto;
    border:4px solid #BD10E0
    
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}



.languages{
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:20px;
}

.fa-html5{
  color:#e34c26;
}

.fa-css3-alt{
  color:#2965f1;
}

.fa-js{
  color:#f0db4f;
}

.fa-react{
  color:#61DBFB;
}

.fa-bootstrap{
  color:#553C7B;
}

.fa-wordpress{
  color:#00749C;
}

.vueIcon, .railsIcon {
  max-height:110px;
  width:auto;
}




/*//PROJECT SECTION//*/
#projects{
  display:block;
  justify-content: center;
  text-align: center;
 
}

/*//Button design//*/

.btn{
  color:#fff;
  background-color: #BD10E0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #BD10E0;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:focus:not(:focus-visible),
.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.btn:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.btn:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.btn:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

/*//FILTER DIV SETTINGS//*/
.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}


/*//CARD DESIGN//*/
.hero {
  display: inline-block;
  position: relative;
  width: 350px;
  min-width: 200px;
  height: 400px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
  transition: transform .2s; /* Animation */
}

.hero:hover {
  transform: scale(1.2);
}
.hero-profile-img {
  height: 70%;
}

.hero-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #BD10E0);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -3deg);
}


.hero-description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 100px;
  bottom: 24%;
}

.hero-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #fff;
  font-weight:bold;
}

.hero-btn a {
  color: #fff;
}


/*//CONTACT SECTION//*/
#contact{
  display:block;
  justify-content: center;
  text-align: center;
  
  border-top: 3px solid #BD10E0;
  
}

.contact-links{
  font-size:2.4rem;
  color:white;
}

.butn{
  display:inline-block;
  padding: 1rem 2rem;
  border-radius:2px;
  text-decoration:none;
  color:white;

}

/*// FOOTER STYLING //*/



  /*//MEDIA QUERIES//*/
  @media only screen and (max-width: 600px) {

    html,body{
  
  }
    
    #intro{
      margin-top:7rem;
    }

    .introTxt{
      font-size:34px;
    }

    .about-me{
      font-size:18px;
    }
    .profile-pic{
      display:flex;
      justify-content: center;
      flex-direction: column;
      margin-left:50px;
    }
    .languages{
      display:flex;
      justify-content: center;
      flex-direction: row;
    }

    .hero-profile-img{
      display:flex;
      justify-content: center;
      flex-direction:row ;
    }
  }