* {
    margin:0;
    padding:0;
    font-family:'Quicksand';
    box-sizing: border-box;
    background: rgb(0,0,0);
    
    
}

/*//NAV//*/
#navbar{
  display: flex;
  justify-content: flex-start;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background:#000;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
 

}

.nav-list{
  display:flex;
  margin-right:2em;
  padding:0;
  z-index:1;
  
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  color:white;
}
.nav-list ul{
  list-style:none;
  padding:0;
  font-size:1.8rem;
  font-weight:400;
  line-height:.05;
  text-decoration:none;
  display:list-item;
  
}

.nav-list a:hover{
  color:#BD10E0;
}



/*//INTRO//*/
#intro{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:18em;
    
}

.intro-list{
    font-size:42px;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    color:#fff
}

span{
    color:#BD10E0
}
.arrow {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    text-align: center;
    height: 2vw;
    width: 2vw;
    border-style:solid;
    border-color: #BD10E0;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);

  }

  .arrowSliding {
    
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  @-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-6vw); }  
   20% { opacity:1; transform: translateY(-6vw); } 
   80% { opacity:1; transform: translateY(6vw); }  
  100% { opacity:0; transform: translateY(6vw); } 
}  

  
/*//About Section//*/
#about{
    display:block;
    justify-content: center;
    text-align: center;
    margin-top: 13rem;
 
}

.title{
    color:#fff;
    font-size:42px;
}

.title:before {
    content: "";
    display: block;
    width: 600px;
    height: 5px;
    background: #BD10E0;
    left: 0;
    top: 103%;
    position: absolute;
  }

  .title:after {
    content: "";
    display: block;
    width: 600px;
    height: 5px;
    background: #BD10E0;
    right: 0;
    top: 103%;
    position: absolute;
  }

.about-me{
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    max-width: 620px;
    font-weight:bold;
    font-size:24px;
    color:#fff
}

.profile-pic{
  animation-name:slidein;
  animation-duration:2s;
    margin-left:500px;
    float:left;
    border-radius: 50%;
    height:380px;
    width:auto;
    border:4px solid #BD10E0
    
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}



.languages{
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:20px;
}


/*//PROJECT SECTION//*/
#projects{
  display:block;
  justify-content: center;
  text-align: center;
  margin-top: 13rem;

}

#projects:before{

  content: "";
  display: block;
  width: 640px;
  height: 5px;
  background: #BD10E0;
  left: 0;
  top: 186%;
  position: absolute;


}

#projects:after {
  content: "";
  display: block;
  width: 640px;
  height: 5px;
  background: #BD10E0;
  right: 0;
  top: 186%;
  position: absolute;
}

/*//Button design for projects//*/

.btn{
  background-color: #BD10E0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #BD10E0;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:focus:not(:focus-visible),
.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.btn:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.btn:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.btn:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}




/*//FILTER DIV SETTINGS//*/
.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}


/*//CARD DESIGN//*/
.hero {
  display: inline-block;
  position: relative;
  width: 400px;
  min-width: 400px;
  height: 400px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.hero-profile-img {
  height: 70%;
}

.hero-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #BD10E0);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}


.hero-description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
}

.hero-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #fff;
}

.hero-btn a {
  color: #fff;
}






  /*//MEDIA QUERIES//*/
  @media only screen and (max-width: 600px) {
    
    
  }